@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.carousel-container{
    width: 60%;
    margin: auto;
    overflow: hidden;
}

.carousel-slide{
    display: flex;
    width: 100%;
    min-height: 500px;
    max-height: 500px;
}

.carousel-slide img{
    max-height: 100%;
    max-width: 100%;
}